h1 {
    text-align: center;
}

#txt_welcome {
    text-align: center; 
    margin-bottom: 50px;
}

.main_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    flex-direction: column;
    text-align: center;
}

.card_title {
    font-size: 20px;
}

.card_button {
    display: flex;
    font-size: 25px;
    width: 150px;
    height: 30px;
}

.card_img {
    width: 300px;
    height: 300px;
}